<h1><%= @symptom.nom %></h1>
<p>
<!-- <% @healings.each do |healing| %> -->
<!--   <%= healing %> -->
<!--   <% end %> -->
</p>
<h2>Para tratar esta doença, utilizar:</h2>
<% @number_plant.each do |plant| %>
<p><%= plant.number %> - <%= link_to plant.nom_scientifique, plant_path(plant) %></p>
<% end %>

