<div class='container-home'>
  <h1>Especies</h1>
  <% @especies.each do |especie| %>
  <a><%= link_to especie.especie, tipo_path(especie) %>(<%= @plants.where(tipo_id: especie.id).count %>) - <a>
  <% end %>
</div>
