<div class='container-plant'>
  <div class="container-in-block">
    <h1><%= @plant.number %> - <%= @plant.nom_scientifique %></h1>
    <h2><%= @seed %> - <%= @result[0].especie %></h2>
  </div>
</div>
