h1 {
  font-family: "Tiro Bangla display";
  font-weight:bold;
  font-size: 40px;
}

h2 {
  font-family: "Tiro Bangla display";
  font-weight:bold;
  font-size: 30px;
}

h3 {
  font-family: "Tiro Bangla display";
  font-weight:bold;
  font-size: 25px;
  text-align:center;
}
